@{
 ViewData["Title"] = "Kontakt";
}

<section class="info-hero">
 <h2>Kontakt</h2>
 <p>Adresa: Masarykovo nám.12,11000 Praha 1</p>
 <p>Telefon: +420777123456</p>
 <p>Email: info@bossrestaurant.cz</p>
</section>